/* 
- should cover 90% of the viewport width
- max width of 1100 pixels
- centred in the viewport 
*/

h1 {
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
}

h3 {
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    font-family: 'Source Sans Pro', sans-serif;
 
}

img {
    align-self: center;
}



.portrait {
    border-radius: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    width: 90%;
    max-width: 1100px;
    text-align: center;
    background: linear-gradient(90deg, white 0%, rgb(207, 171, 73) 100%);
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 10px;
}

.portrait h1 {
    font-family: fantasy;
    color: #f6f6f6;
}

.portrait h2 {
    color: ghostwhite;
}

.portrait a {
background-color: rgb(166, 223, 223);
color: ghostwhite;
text-align: center;
border-radius: 10px;
padding: 5px;
margin-right: 25px;
margin-left: 25px;
}

/*
    colors 
    rgb(166, 223, 223) -nice blue
    rgb(146, 174, 212) -nice purple
*/

.photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.info {
    
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 1100px;
    background-color: rgb(146, 174, 212);    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#aboutme {
    padding-left: 30px;
    width:60%;
}

#basicinfo {
    padding-right: 30px;
}


.info h1 {
    text-decoration: underline;
    margin-top: 0px;
    margin-bottom: 10px;
}

.info p {
    color: white;
    padding-right: 20px;
}

.info h2 {
    text-decoration: underline;
    font-size: 18px;
    display: inline-block;
    margin-right: 5%;
    margin-top: 6px;
    margin-bottom: 6px;
}

.education {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    width: 90%;
    max-width: 1100px;
    background-color: #dbd8d8;    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.certification {
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(207, 171, 73);
    padding-bottom: 20px;
    padding-top: 20px;
    float: left;
    width: 250px;
    height: 120px;
}



.edinfo {
    padding-left: 20px;
    width: 400px;
    height: 150px;
}

.education h3 {
    
    padding-top: 10px;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
}

.education h2 {
    align-self: flex-end;
    color: #f6f6f6;
    margin-top: 0;
    margin-bottom: 0;
}

.form {
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 10px;
    width: 90%;
    max-width: 1100px;
    background-color: #f6f6f6;    
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

.form h2 {
    color: #a19f9f;
    padding-left: 30px;
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.form label {
    color: rgb(142, 190, 190);
    padding-left: 35px;
}

.form input {
    color: rgb(78, 78, 78);
    margin-left: 30px;
}

input[type=radio] {
    margin-bottom: 15px;
}

#ishiring {
    margin-bottom: 10px;
}

#submit {
    margin-top: 25px;
    padding-left: 50px;
}

.form textarea {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 30px;
}



